<html>

<body>
    <h1> 이벤트 상세 보기 </h1>

    <br>
    <br>

    <h2> 최초 등장 </h2>
    <img th:src="@{https://team06-antifragile-s3.s3.amazonaws.com/} + ${event_name} + @{/start.jpg}" 
    style="max-width:90%; height:auto;"/>

    <br>

    <h2> 퇴장 </h2>
    <img th:src="@{https://team06-antifragile-s3.s3.amazonaws.com/} + ${event_name} + @{/end.jpg}" 
    style="max-width:90%; height:auto;" />

    <br>

    <!-- 여기서부터 -->
    <h2> 탐지 영상 </h2>
    <video width="900" height="600" controls>
        <source th:src="@{https://team06-antifragile-s3.s3.amazonaws.com/} + ${event_name} + @{/detect_vid.mp4}">
    </video>
    <br>
    <br>
    <!-- 여기까지 -->

    <h2> 상세 로그 </h2>
    <table border="1">
        <tr>
            <td style="background-color:rgb(192, 192, 192)">event_name</td>
            <td style="background-color:rgb(192, 192, 192)">detect_date</td>
            <td style="background-color:rgb(192, 192, 192)">detect_time</td>
            <td style="background-color:rgb(192, 192, 192)">object1_name</td>
            <td style="background-color:rgb(192, 192, 192)">object1_num</td>
            <td style="background-color:rgb(192, 192, 192)">object2_name</td>
            <td style="background-color:rgb(192, 192, 192)">object2_num</td>
            <td style="background-color:rgb(192, 192, 192)">object3_name</td>
            <td style="background-color:rgb(192, 192, 192)">object3_num</td>
        </tr>
        <th:block th:each=" detail : ${detailList} ">
            <tr>
            <td><span>[[${detail.event_name}]]</span></td>
            <td><span>[[${detail.detecte_date}]]</span></td>
            <td><span>[[${detail.detect_time}]]</span></td>
            <td><span>[[${detail.object1_name}]]</span></td>
            <td><span>[[${detail.object1_num}]]</span></td>
            <td><span>[[${detail.object2_name}]]</span></td>
            <td><span>[[${detail.object2_num}]]</span></td>
            <td><span>[[${detail.object3_name}]]</span></td>
            <td><span>[[${detail.object3_num}]]</span></td>
            </tr>
        </th:block>
    </table>

    <br>
    <br>
    <br>


</body>

</html>